.App {
  background-color: #61dafb;
  display: flex; 
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; 
  margin: 0;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.calculator {
  background-color: #674ca9;
  height: 80%;
  width: 60%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap; /* Wraps child elements */
  justify-content: space-between; /* Distribute space between items */
  box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.8);
}

.calculator p {
  width: 45%; /* Each <p> takes 45% of the row width */
  margin: 10px 0; /* Add spacing between rows */
  text-align: center; /* Center text inside <p> */
}

.calculator h1 {

  text-align: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

p {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(5px + 2vmin);
  color: white;
  text-decoration: underline;
}

.results {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(5px + 2vmin);
  color: white;
}
.loan {
  text-decoration: none;

}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin: 15px 0; 
  /* width: 45%;  */
}

.input select {
  width: 80%; /* Full width inside the row */
  padding: 10px; /* Add some padding */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #ccc; /* Light gray border */
  font-size: 16px; /* Make input text readable */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
